<% content_for :title do %>About Backgrounder<% end %>
<div id="about-page">
  <%= link_to image_tag("backgrounder.png", :alt => "logo", :style => "width: 350px;"), root_path %>
  <br /> <br />
  <h3 id="splashpage" style="text-align: center;">Summarize your Twitter feed.</h3><br />
  <p>Made for people who love Twitter but hate spending time watching tweets scroll by, Backgrounder identifies major topics on your feed and provides you with background reading.</p>
  <p>The app was created by <%= link_to "Mazin Melegy", "http://twitter.com/mazinmelegy", :target => "_blank" %>, and it is still under development. 
    Feel free to shoot me any comments/suggestions/hate mail by clicking the question mark in the bottom right corner. Enjoy!</p><br />
  <%= link_to "Sign in with Twitter", "/auth/twitter", class: "small twitter-button radius" %>
</div>