@import "foundation";

#twitter-login
{ 
  position: fixed;
  top: 35%;
  left: 50%;
  text-align: center;
  margin-top: -50px;
  margin-left: -200px;
}

body
{
 background: #005B99;
 background: -webkit-gradient(linear, left top, left bottom, from(#005B99), to(#99BADD)) fixed;
 background: -moz-linear-gradient(#005B99, #99BADD) fixed;
 
}

.twitter-button {
  @extend button;
  background-color: #005B99;
}

