@import "foundation";

@media screen and (max-width: 750px) {
  .tweets {
    clear: right;
    width: 90%;
  }

  .links {
    float: left;
    clear: left;
    width: 90%;
  }
ul {
  display:inline-block;
  list-style-type: none;
}
}

#twitter-login { 
  position: fixed;
  top: 35%;
  left: 50%;
  text-align: center;
  margin-top: -50px;
  margin-left: -175px;
}

body {
 background: #99BADD;
 background: -webkit-gradient(linear, left top, left bottom, from(#005B99), to(#99BADD)) fixed;
 background: -moz-linear-gradient(#005B99, #99BADD) fixed;
}

.twitter-button {
  @extend button;
  background-color: #005B99;
}

.tweets {
  float: left;
  width: 45%;
}

.links {
  float: right;
  width: 45%;
}

ul {
  display:inline;
  list-style-type: none;
}

.header {
  text-align: center;
  text-shadow: 1px;
  background-color: #99BADD;
}

table {

  tr:nth-child(even) {
    background-color: #fdf8cc;
  }
  tr:nth-child(odd) {
    background-color: #99BADD;
  }
}

#splashpage {
  color: #FFF;
}

a {
  color: #005B99;
}

